body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
}

#past-prediction-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#past-prediction-card button {
  height: fit-content;
}

.correct-prediction {
  color: green;
}

.redeemed-prediction {
  color: blue;
}

.incorrect-prediction {
  color: red;
}

.pending-prediction {
  color: gray;
}