.navbar-brand {
    font-weight: bold;
}

.hero-description {
    line-height: 1.5;
}
#copyright {
    margin-left: 0%;
    width:2%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
