.navbar-brand {
  font-weight: bold;
}

.hero-description {
  line-height: 1.5;
}
#copyright {
  margin-left: 0%;
  width: 2%;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
}

#redeemImage {
  width: 100%;
  height: auto;
}

.options {
  display: flex;
}

#carousel {
    position: relative;
    height: 500px;
    display: grid;
    place-items: center;
}

.splide {
    height: 100%;
    width: 100%;
    position: absolute;
}

#filter {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    pointer-events: none;
}

#carousel section {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
}

.splide__track {
  height: 100%;
}

.splide__slide {
    display: grid;
    place-items: center;
}

#splide01-slide01 {
  background-color: cornflowerblue;
}

#splide01-slide02 {
  background-color: cadetblue;
}

#splide01-slide03 {
  background-color: burlywood;
}

#sportsNamePlaceHolder {
    color: aliceblue;
}

#sportsDescriptionPlaceHolder {
    color: bisque;
}

#user-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: min-content;
  justify-content: center;
}

#predictionPlaceHolder {
  display: grid;
  place-items: center;
}

#prediction-thanks {
  display: none;
}

#past-data-table {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}